@model IEnumerable<UnitViewModel>

@{
    ViewData["Title"] = "واحدها";
}

<h3>فهرست واحدها</h3>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UnitId" class="btn btn-warning btn-sm">ویرایش</a> |
                    @if (!item.IsDelete)
                    {
                        <button type="button" class="btn btn-danger btn-sm"
                                data-item-id="@item.UnitId" data-item-description="@item.UnitName"
                                data-toggle="modal" data-target="#confirm-delete">
                            حذف
                        </button>


                        @*<a asp-action="Delete" asp-route-id="@item.UnitId">حذف</a>*@
                    }



                </td>
            </tr>
        }
    </tbody>
</table>









@*@foreach (var item in Model)
    {
        <tr>
            <td>@index</td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                <button type="button" class="btn btn-danger btn-sm" data-item-id="@item.ID" data-item-description="@item.Report.Description" data-toggle="modal" data-target="#confirm-delete">Delete</button>
            </td>
        </tr>
    }*@

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"  >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="direction: rtl;">حذف واحد</h4>
            </div>
            <div class="modal-body">
                از حذف واحد  <span class="description"></span> مطمئن هستید ؟
            </div>
            <div class="modal-footer ">
                <input type="submit" value="حذف" class="btn btn-danger btn-sm" />  |  
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">انصراف</button>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $('#confirm-delete').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var id = $(this).data('itemId');        
            $modalDiv.addClass('loading');
            $.post('/Units/Delete/' + id).then(function () {
                $modalDiv.modal('hide').removeClass('loading');
            });
        });
        $('#confirm-delete').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.description', this).text(data.itemDescription);
            $('.btn-ok', this).data('itemId', data.itemId);
        });
    </script>

}
