@model IEnumerable<SPS.Entities.Unit>

@{
    ViewData["Title"] = "واحدها";
}

<h3>فهرست واحدها</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitId">ویرایش</a>
            </td>
        </tr>
}
    </tbody>
</table>
